
  
  <div class="row w-100 mt-4">
    <div class="col-lg-2"></div>
  
    <div class="col-lg-4 d-flex  justify-content-center flex-column p-5"><h1 class="text-secondary mt-5">Welcome To Employee Portal</h1>
    <button class="btn btn-outline-primary mt-3" style="width: fit-content;" routerLink="/register">Get Started</button>
    </div>
    
    <div class="col-lg-4 p-5 d-flex align-items-center justify-content-center"><img width="600px" src="https://img.freepik.com/free-vector/business-team-discussing-ideas-startup_74855-4380.jpg?t=st=1733546306~exp=1733549906~hmac=5340fa9d196efa31e084a888b94462605d3a3c44bc56ab4fddd03eea31241e48&w=1060" alt=""></div>
    <div class="col-lg-2"></div>
  
  </div>
